body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: left; /* 왼쪽 정렬 */
    margin-bottom: 0px;
}

h1 {
    color: #333;
    text-align: left; /* 왼쪽 정렬 */
}

section {
    margin-bottom: 0px;
    text-align: left; /* 왼쪽 정렬 */
}

footer {
    text-align: left; /* 왼쪽 정렬 */
    margin-top: 10px;
}
